.top-menu {
	border-radius: 12px;
	background-color: #f8f8f8;
	.wrapper {
		.menu-top {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			margin-bottom: 125px;
			.range {
				margin-bottom: 30px;
				img {
					width: 320px;
					height: 320px;
					border-radius: 12px;
					display: block;
					object-fit: contain;
					object-position: center;
				}
			}
		}
		.menu-buttum {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			margin-bottom: 170px;
			.range {
				margin-bottom: 30px;
				img {
					width: 320px;
					height: 320px;
					border-radius: 12px;
					display: block;
					object-fit: contain;
					object-position: center;
				}
			}
		}
		.popular-block {
			.popular-text {
				font-weight: 400;
				font-size: 28px;
				line-height: 33px;
				color: #212b25;
				margin-bottom: 37px;
			}
			.range-block {
				.block-picca {
					width: 320px;
					height: 396px;
					background: #ffffff;
					border-radius: 12px;
					.picca {
						img {
							width: 320px;
							height: 270px;
							display: block;
							object-fit: contain;
							object-position: center;
							margin-bottom: 23px;
						}
					}
					.product {
						padding: 0 28px;
						.city {
							display: flex;
							justify-content: space-between;
							font-weight: 400;
							font-size: 22px;
							line-height: 26px;
							color: #212B25;
							margin-bottom: 20px;
						}
						.text {
							.buttom-text {
								span {

								}
							}
						}
					}
				}
			}
		}
	}
}
