body {
	font-family: "Open Sans", sans-serif;
	font-family: "Roboto", sans-serif;
}

header {
	margin-bottom: 30px;
	.header-menu {
		background-color: #ffffff;
		.wrapper-menu {
			display: flex;
			justify-content: space-between;
			width: 100%;
			max-width: 1368px;
			margin: 0 auto;
			align-items: center;
			padding: 15px 0;
		}
		.burger {
			display: none;
		}
		.menu-logo {
			width: 210px;
			height: 50px;
		}
		.menu-text {
			ul {
				display: flex;
				li {
					&:not(:last-child) {
						margin-right: 80px;
					}
					a {
						font-weight: 500;
						font-size: 16px;
						line-height: 19px;
						color: #2d2d2d;
						&:hover {
							color: #d94f36;
							$transition: all 300ms ease;
							transition: $transition;
						}
					}
				}
			}
		}
		.menu-btn {
			button {
				cursor: pointer;
				padding: 10px 17px;
				border: 2px solid #d94f36;
				color: #d94f36;
				font-weight: 500;
				font-size: 16px;
				line-height: 19px;
				box-sizing: border-box;
				border-radius: 30px;
				background-color: #ffffff;
				display: flex;
				align-items: center;
				.basket {
					padding-left: 7px;
					letter-spacing: 0.05em;
					.price {
						font-weight: 700;
						font-size: 18px;
						line-height: 21px;
						span {
							padding-left: 5px;
						}
					}
				}
				&:hover {
					background: #f8f8f8;
					$transition: all 300ms ease;
					transition: $transition;
				}
			}
		}
	}
}

// @media (max-width: 767px) {
// 	header .header-menu .wrapper-menu {
// 		position: relative;
// 	}
// 	header .header-menu .wrapper-menu .burger {
// 		position: absolute;
// 		width: 30px;
// 		height: 2px;
// 		background-color: #2d2d2d;
// 		right: 40px;
// 		top: 10px;
// 		&::before {
// 			content: "";
// 			position: absolute;
// 			width: 30px;
// 			height: 2px;
// 			background-color: #2d2d2d;
// 		}
// 		&::after {
// 			content: "";
// 			width: 30px;
// 			height: 2px;
// 			background-color: #2d2d2d;
// 		}
// 	}
// 	.header-menu {
// 		background-color: #d94f36;
// 		width: 100%;
// 		height: 100px;
// 		z-index: 5;
// 	}
// 	.header-menu .menu-logo {
// 		margin-bottom: 15px;
// 	}
// 	.menu-text {
// 		position: fixed;
// 		top: 0;
// 		left: 0;
// 		z-index: -1;
// 	}
// 	.header-menu .menu-btn button svg {
// 		display: none;
// 	}
// 	.header-menu .menu-btn button {
// 		padding: 5px 8px;
// 	}
// }

.rectangle {
	border-radius: 12px;
	background-color: #ffffff;
	width: 100%;
	max-width: 1370px;
	margin: 0 auto;
	.wrapper {
		padding: 0 88px;
		.career {
			font-weight: 400;
			font-size: 36px;
			line-height: 42px;
			color: #212b25;
			padding-top: 45px;
		}
		.bloks {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			margin-bottom: 60px;
			.blok {
				position: relative;
				width: 378px;
				height: 559px;
				box-shadow: 0px 2px 12px rgba(129, 129, 129, 0.12);
				border-radius: 12px;
				padding: 38px 30px 20px 30px;
				margin-top: 30px;
				img {
					width: 195px;
					height: 195px;
					display: block;
					object-fit: contain;
					object-position: center;
					margin: 0 auto;
					margin-bottom: 30px;
				}
				.blok-text {
					.city {
						letter-spacing: 0.03em;
						font-weight: 400;
						font-size: 16px;
						line-height: 19px;
						color: #818181;
						margin-bottom: 10px;
					}
					p {
						font-weight: 400;
						font-size: 22px;
						line-height: 26px;
						color: #353b37;
						margin-bottom: 10px;
					}
					.price {
						letter-spacing: 0.03em;
						font-weight: 400;
						font-size: 16px;
						line-height: 19px;
						color: #818181;
						margin-bottom: 30px;
					}
					.graph {
						color: #818181;
						margin-bottom: 10px;
						span {
							color: #353b37;
							padding-left: 5px;
						}
					}
					button {
						position: absolute;
						cursor: pointer;
						font-weight: 500;
						font-size: 16px;
						line-height: 19px;
						color: #ffffff;
						padding: 10px 0;
						background: #8dc63f;
						border-radius: 20px;
						margin-top: 12px;
						border: 2px solid #8dc63f;
						bottom: 20px;
						width: 320px;
						$transition: all 300ms ease;
						transition: $transition;
						&:hover {
							border: 2px solid #8dc63f;
							background-color: #ffffff;
							color: #8dc63f;
							$transition: all 300ms ease;
							transition: $transition;
						}
					}
				}
			}
		}
	}
	.wrapper {
		.benefits {
			font-weight: 400;
			font-size: 28px;
			line-height: 33px;
			color: #212B25;
			margin-bottom: 37px;
		}
	}
}
